@use "variables" as v;

:host {
  display: flex;
  gap: 1rem;
  min-height: 100vh;
  padding: 1rem;

  #player {
    background-color: v.$base-color-lighten;
    border-radius: 16px;
    flex: 1;
  }
}
