@use "variables" as v;

.main-container {
  background: v.$base-color-lighten-1;
  padding: 1rem;
  height: v.$container-height;
  margin: 1rem calc(v.$sidebar-width + 2rem);
  border-radius: 16px;

  @media screen and (max-width: v.$desktop-breakpoint) {
    margin: 1rem;
    margin-top: calc(2rem + v.$header-height);
    height: calc(v.$container-height - (1rem + v.$header-height));
  }
}
