@use "variables" as v;

.table-container {
  max-width: 100%;
  overflow-x: auto;
}

tr {
  color: v.$light-grey-color;

  &:hover:not(thead tr) {
    background: v.$base-color-lighten-3;
    cursor: pointer;
  }

  &.active {
    background: v.$base-color-lighten-3;
  }

  &.active .song-name {
    color: v.$primary-color;
  }
}

.song-name {
  color: v.$white-color;
  font-weight: 500;
}

.artists-names {
  font-size: 0.8rem;
}
