@use "variables" as v;

$h-logo: 50px;
$h-nav-options: 120px;
$h-user-info: 60px;

:host {
  background-color: v.$base-color-lighten-1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  border-radius: 16px;
  padding: 1rem;

  .sidebar {
    flex: 1;
  }

  .logo img {
    height: $h-logo;
  }

  .nav-options {
    gap: 4px;
    height: $h-nav-options;
  }

  .playlists {
    margin-top: 2rem;

    span {
      color: v.$light-grey-color;
    }

    .playlists-options {
      max-height: calc(75vh - ($h-logo + $h-nav-options + $h-user-info));
      overflow-y: auto;
      margin-top: 1rem;
    }
  }

  .user-info {
    height: $h-user-info;
    flex-grow: 0;
    background: #333333;
    border-radius: 4px;
    padding: 0 8px;
  }
}
