@use "variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

body {
  background: v.$base-color;
  color: v.$white-color;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: v.$light-grey-color;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #686868;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #575757;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

input {
  padding: 8px;
  border: none;
  background: transparent;
  caret-color: v.$white-color;
  border-bottom: 1px solid v.$light-grey-color;
  color: v.$white-color;
}

input:focus,
input:active {
  outline: none;
  border-bottom: 1px solid v.$primary-color;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
}

button {
  font-size: 1rem;
  padding: 8px;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  transition: 0.2s;

  &.primary {
    background: v.$primary-color;
  }

  &:hover {
    opacity: 0.9;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;

  th {
    text-align: start;
    font-size: 0.8rem;
    color: v.$light-grey-color;
  }

  th,
  td {
    padding: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.flex {
  display: flex;

  &-center-all {
    align-items: center;
    justify-content: center;
  }

  &-align-center {
    align-items: center;
  }

  &-justify-center {
    justify-content: center;
  }

  &-justify-between {
    justify-content: space-between;
  }

  &-justify-end {
    justify-content: flex-end;
  }

  &-column {
    flex-direction: column;
  }
}

.text-center {
  text-align: center;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-size-md {
  font-size: 1.125rem;
}

.mt {
  @for $i from 1 to 13 {
    &-#{$i} {
      margin-top: #{4 * $i}px;
    }
  }
}

.p {
  @for $i from 0 to 13 {
    &a-#{$i} {
      padding: #{4 * $i}px !important;
    }

    &x-#{$i} {
      padding-left: #{4 * $i}px !important;
      padding-right: #{4 * $i}px !important;
    }

    &y-#{$i} {
      padding-top: #{4 * $i}px !important;
      padding-bottom: #{4 * $i}px !important;
    }
  }
}

.w-100 {
  width: 100%;
}

.w {
  @for $i from 1 to 10 {
    &-#{$i} {
      width: #{$i};
    }
  }
}

.card {
  box-shadow: rgba(4, 4, 4, 0.2) 0px 4px 16px 0px;
  // border: 1px solid v.$base-color-lighten-2;
  background-color: v.$base-color-lighten-2;
  border-radius: 8px;
  padding: 8px;
  overflow: hidden;
}

.chip {
  border: 1px solid v.$light-grey-color;
  color: v.$light-grey-color;
  border-radius: 48px;
  padding: 6px 8px;
  transition: 0.2s;
}
