@use "variables" as v;

.right-sidebar {
  height: v.$container-height;
  width: v.$sidebar-width;
  background-color: v.$base-color-lighten-1;
  border-radius: 16px;
  padding: 1rem;
  gap: 2rem;

  overflow-y: auto;
  position: fixed;
  top: 1rem;
  right: 1rem;

  img {
    width: 100%;
  }

  @media screen and (max-width: v.$desktop-breakpoint) {
    display: none;
  }
}
